<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>atualizar empresa top</h1>

	<form action="/empresa/atualizar" method="post">
		<p>Nome empresa <input type="text" name="name_empresa" value="<%=empresa[0].name_empresa %>"> </p>
		<p>Nome presidente <input type="text" name="name_presidente" value="<%=empresa[0].name_presidente %>"> </p>
		<p>cnpj <input type="number" name="cnpj" value="<%=empresa[0].cnpj %>"> </p>
		<p>telefone <input type="text" name="telefone" value="<%=empresa[0].telefone %>"> </p>
		<p>email <input type="text" name="email" value="<%=empresa[0].email %>"> </p>
		<p>data <input type="date" name="data_criacao" value="<%=empresa[0].data_criacao %>"> </p>
		<p>endereço <input type="text" name="endereco" value="<%=empresa[0].endereco %>"> </p>
		<p>location <input type="number" name="location" value="<%=empresa[0].location %>"> </p>
		<p>services <input type="text" name="services" value="<%=empresa[0].services %>"> </p>

		<p>Id empresa <input readonly type="text" name="id_empresa" value="<%=empresa[0].id_empresa %>"> </p>
		<button type="submit">Atualizar</button>
	</form>
</body>
</html>